
.button {
    border: 2px black solid;
    background-color: deepskyblue;
    border-right: 2px solid yellow;
    width: 80%;
    height: 100px;
}

.pokemon-list {
    display: grid;
    list-style: none;
}


@media (max-width: 400px) {
    .pokemon-list {
        height: auto;
        background-color: yellowgreen;


    }
}

@media (min-width: 400px) {
    .pokemon-list {
        /*width: 100%;*/
        height: auto;
        background-color: navy;
    }
}

@media (min-width: 1440px)  {
    .pokemon-list {
        background-color: red;
        height: auto;
    }
}


