* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button {
    border: 2px black solid;
    background-color: steelblue;
    border-right: 2px solid yellow;
    width: 80%;
    height: 100px;
    text-transform: lowercase;
}

.pokemon-list {
    display: grid;
    list-style: none;
}

.input-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    background-color: yellowgreen;
    align-items: center;
    justify-content: center;
    height: auto;
}

label {
    display: inline-block;
    min-width: 75px;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

#register-form {
    text-align: center;
}


#modal-container {
    display: none;

}

#modal-container.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    display: grid;
    text-align: center;
    overflow: auto;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}

.modal-close {
    position: static;
    margin-left: 90%;
    background-color: white;
}

    .modal {
        background-color: white;
        text-align: center;
        border: 5px solid yellow;
        margin: 20%;
        text-decoration: underline;

    }


@media (max-width: 400px) {
    .pokemon-list {
        height: auto;
        background-color: yellowgreen;


    }
}

@media (min-width: 400px) {
    .pokemon-list {
        /*width: 100%;*/
        height: auto;
        background-color: navy;
    }
}

@media (min-width: 1440px)  {
    .pokemon-list {
        background-color: red;
        height: auto;
    }
}


